html, body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  touch-action: manipulation;
}

.display {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background: #333333;
}

.display h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #bbbbbb;
  font-size: 10vw;
}

.count {
  position: fixed;
  display: flex;
  gap: 0;
  justify-content: space-between;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.count * {
  width: 100%;
  height: 100%;
}

.cover {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0.1;
  z-index: 9999;
  pointer-events: none;
}

.count-plus:active + .cover {
  background: #ff0000;
}

.count-minus:active + .cover {
  background: #0000ff;
}